<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Website quản lý kho hàng</title>
    <link href="static/css/dashboard.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Thêm CSS cho layout flexbox */
        #chartContainer {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .chart {
            width: 30%;
        }
    </style>
</head>

<body>
<div class="dashboard">
    <div class="left">
        <div class="navigation">
            <div class="wrapper2">
                <div class="folder-icons">
                    <div class="abilan">
                        <img src="static/icon/icon.png"/>
                    </div>

                    <div class="icon-name">
                        QUẢN LÍ KHO
                    </div>
                </div>

                <div class="folder-icons">
                    <div class="icon1">
                        <img src="static/icon/home.png"/>
                    </div>

                    <div class="icon-name">
                        Trang chủ
                    </div>
                </div>

                <div class="folder-icons">
                    <div class="icon1">
                        <img src="static/icon/inventory.png"/>
                    </div>

                    <div class="icon-name">
                        Kho hàng
                    </div>
                </div>

                <div class="folder-icons">
                    <div class="icon1">
                        <img src="static/icon/create.png"/>
                    </div>

                    <div class="icon-name">
                        Tạo đơn hàng
                    </div>
                </div>

                <div class="folder-icons">
                    <div class="icon1">
                        <img src="static/icon/stock.png"/>
                    </div>

                    <div class="icon-name">
                        Danh sách đơn hàng
                    </div>
                </div>

                <div class="folder-icons">
                    <div class="icon1">
                        <img src="static/icon/report.png"/>
                    </div>

                    <div class="icon-name">
                        Thống kê
                    </div>
                </div>

                <div class="folder-icons">
                    <div class="icon1">
                        <img src="https://i.ibb.co/xfcFLCN/waste-bin.png"/>
                    </div>

                    <div class="icon-name">
                        Trash
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-side">
        <div class="right-header">
            <div class="top-bar">
                <div class="top-bar-justify">
                    <div class="big-inbox">
                        <b>Website quản lý kho hàng</b>
                    </div>
                </div>

                <div class="profile2">
                    <img src="https://www.seekclipart.com/clipng/middle/103-1032140_graphic-transparent-1-vector-flat-small-user-icon.png"/>

                    <div class="icon-name5">
                        {% if 'logged_in' in session %}


                            <div class="nav-item nav-link">
                                {{ session['username'] }}
                            </div>

                            <a href="{{ url_for('logout') }}" class="nav-item nav-link">Thoát</a>
                        {% else %}
                            <a href="{{ url_for('login') }}" class="nav-item nav-link">Đăng nhập</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr class="new-hr"/>
        </div>

        <div class="right-body">
            <div class="message">

                <div class="mes-date">
                    Dec 1, 2018
                </div>

                <div class="title">
                    Old Fashioned Recipe For Preventing Allergies And Chemical

                    <div class="scroll-cards">
                        <div class="card-container">
                            <div class="card">
                                Trạng thái đơn hàng
                                <div class=products">
                                    <img src="https://randomuser.me/api/portraits/men/20.jpg" />
                                    <div class=product-names">
                                        Louis Adkins
                                    </div>

                                </div>
                                <div class=product-info">
                                    How To Write Better Advertising Copy Heading
                                </div>
                            </div>

                            <div class="right-container">
                                <div class="top-class">
                                    a
                                </div>
                                <div class="bottom-class">
                                    b
                                </div>
                            </div>
                        </div>
                        <div class="card-container">
                            <div class="card">
                                Chi tiết sản phẩm
                                <hr>
                                <div class=products">
                                    <img src="https://randomuser.me/api/portraits/men/20.jpg" />
                                    <div class=product-names">
                                        Louis Adkins
                                    </div>
                                    <script>

                                    </script>
                                </div>
                                <div class=product-info">
                                    How To Write Better Advertising Copy Heading
                                </div>
                            </div>

                            <div class="card-right">
                                Sản phẩm bán chạy
                                <hr>
                                <div id="topSellingProducts">
                                    <div id="productList"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class=products">
                                <span class="person border2">O</span>
                                <div class=product-names">
                                    Olga Boone
                                </div>

                            </div>
                            <div class=product-info">
                                Old Fashioned Recipe
                            </div>
                            <div>
                            </div>
                            <div class="bottom-info">
                                <div class="check1">
                                    <label class="checkbox">
                                        <input type="checkbox"/>
                                    </label>
                                    <div class="star">
                                        <img src="https://i.ibb.co/SN5SJ8x/star.png" />
                                    </div>
                                    <div class="star">
                                        <img src="https://i.ibb.co/FW9tsHK/attachment.png" />
                                    </div>

                                </div>
                                <div class="date">8:30 AM</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class=products">
                                <span class="person border3">H</span>
                                <div class=product-names">
                                    Harry Burton
                                </div>

                            </div>
                            <div class=product-info">
                                How To Write Better Advertising Copy Heading
                            </div>
                            <div>
                            </div>
                            <div class="bottom-info">
                                <div class="check1">
                                    <label class="checkbox">
                                        <input type="checkbox"/>
                                    </label>
                                    <div class="star">
                                        <img src="https://i.ibb.co/SN5SJ8x/star.png" />
                                    </div>
                                    <div class="star">
                                        <img src="https://i.ibb.co/FW9tsHK/attachment.png" />
                                    </div>

                                </div>
                                <div class="date">8:30 AM</div>
                            </div>

                        </div>

                    </div>


                    <div class="title-icons"></div>
                </div>

                <div class="from">
                    <span class="who">From: </span>ashraf@glaze.com
                </div>

                <div class="message-from">
                    Hello Malikan!



                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptas pariatur repellat veritatis atque, tempora quasi quas facere impedit aliquam libero qui iure cumque incidunt facilis soluta necessitatibus laboriosam nemo. Delectus architecto sed, excepturi natus iste vel quidem officia corrupti repudiandae!</p>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, deleniti eaque eligendi minus maxime tempora eiusi.</p>

                    <p>Have a nice day</p>

                    <p>Ashraf</p>
                </div>

                <div class="attachment-last">
                    <img src="https://i.ibb.co/FW9tsHK/attachment.png"/>

                    <div class="att-write">
                        Attachment (80MB)
                    </div>

                    <button class="btn1 buton0"> View All <span class="tag"> </span></button> <button class="btn1 buton9"> Download All </button>
                </div>

                <div class="son-images">
                    <div class="inside-img">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=600&amp;q=60"/> <img src="https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=600&amp;q=60"/> <img src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=600&amp;q=60"/> <img src="https://images.unsplash.com/photo-1450609283058-0ec52fa7eac4?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=600&amp;q=60"/>
                    </div>

                    <button class="son-buton"> 20+ </button>
                </div>

                <button class="btn2 butona"> Reply <span class="tag"> <img src="https://i.ibb.co/GQf8frw/reply.png"/> </span> </button> <button class="btn2 butonb"> Forward <span class="tag"> <img src="https://i.ibb.co/6W40kTg/forward-arrow.png"/> </span> </button>
            </div>
        </div>
    </div>
    <script>
        // Sử dụng fetch API để lấy dữ liệu từ các endpoint API của bạn
        fetch('/inventory_report')
            .then(response => response.json())
            .then(data => {
                // Tạo biểu đồ tồn kho
                new Chart(document.getElementById('inventoryChart'), {
                    type: 'doughnut',  // Biểu đồ hình tròn
                    data: {
                        labels: data.map(item => item.name),  // Tên sản phẩm
                        datasets: [{
                            data: data.map(item => item.quantity_in_stock),  // Số lượng tồn kho
                            backgroundColor: ['#ff6384', '#36a2eb', '#cc65fe', '#ffce56', '#c45850']  // Màu sắc cho các phần của biểu đồ
                        }]
                    },
                    options: {
                        legend: {
                            display: true,  // Hiển thị danh sách tên
                            position: 'right'  // Đặt danh sách tên ở bên phải
                        }
                    }
                });
                // Hiển thị tổng số sản phẩm và tổng số lượng sản phẩm trong kho
                document.getElementById('totalProducts').textContent = 'Tổng số sản phẩm trong kho: ' + data.length;
            });


        fetch('/top_selling_products')
            .then(response => response.json())
            .then(products => {
                var productList = document.getElementById('productList');
                for (var product of products) {
                    var productDiv = document.createElement('div');
                    productDiv.className = 'product-card'; // Thêm lớp CSS vào thẻ div
                    if (product.image_path) {  // Kiểm tra nếu image_path tồn tại
                        productDiv.innerHTML += `<img src="${product.image_path}" alt="${product._id}">`;
                    }
                    productDiv.innerHTML += `
                        <p>${product._id}<p>
                        <p>Đã bán: ${product.total_quantity}</p>
                    `;
                    productList.appendChild(productDiv);
                }
            });




        fetch('/inventory_summary')
            .then(response => response.json())
            .then(data => {
                document.getElementById('totalQuantity').textContent = 'Tổng số lượng hàng trong kho: ' + data.total_quantity;
                document.getElementById('totalValue').textContent = 'Giá trị tổng cộng của kho hàng: ' + data.total_value + ' VND';
            });
    </script>
</div>
</body>
</html>